@model GestionClub.Models.MembreViewModels.MembreViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="NomUtilisateur" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="NomUtilisateur" class="form-control" />
                <span asp-validation-for="NomUtilisateur" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Rang" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Rang" class="form-control" />
                <span asp-validation-for="Rang" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Fichier" class="col-md-2 control-label">Image</label>
            <div class="col-md-10">
                <input asp-for="Fichier" class="form-control" type="file" />
                <span asp-validation-for="Fichier" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
