<footer>
    <div class="row">
        <div class="col-md-6">
            <p>&copy; 2016 - Club d'échecs RnD</p>
        </div>
        <div class="col-md-6 text-right">
            @await Html.PartialAsync("_SelectLanguagePartial")
        </div>
    </div>
</footer>