@{
    ViewData["Title"] = "À Propos";
}
<h2>@ViewData["Title"].</h2>

<h3>
    But et Mission du club :<br />
    Le club a été créé pour promouvoir le jeu d’échecs et de rassembler des joueurs dans le 
    but de développer une communauté où on peut s’échanger des conseils et stratégies.
</h3>

<h6>Nombre d'utilisateurs actifs : (Prochainement) ,<br /> Nombre d'utilisateurs connectés : (Prochainement) ,<br />  Nombre de visites : (Prochainement)</h6>

<h6>Date de création : 2 septembre 2016,<br /> Dernière mise à jour : 23 septembre 2016.</h6>


<img src="~/images/interest.png" />

