@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>Pour nous contacter : </h3>

<address>
    Courriel : clubechecsrnd@rndmail.org <br />
    Adresse : 3000 Avenue Boullé, Saint-Hyacinthe, QC J2S 1H9 <br />
    Téléphone : (Prochainement, temporairement (514) 875-4445 poste 420)
</address>

<img src="~/images/map.jpg" />