@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<h1 style="font-family:coinyregular">@Localizer["Welcome"]</h1>

<h3>@Localizer["Strategy"]</h3>

<img src="~/images/chess strategy.jpg" style="width:100%;height:100%"/>

<h4>@Localizer["Magnus"]</h4>
<h5>@Localizer["DescriptionMagnus"]</h5>

<img src="~/images/Markus.jpg" />